
## core pins
numpy

## extras
print_color
backoff

## PKU-Alignment’s safe-rlhf (install from GitHub; will be named “safe-rlhf”)
git+https://github.com/PKU-Alignment/safe-rlhf.git@main#egg=safe_rlhf
transformers
ml_collections
fschat
hydra-core
jsonlines
torch